<h1>NOSSOS SERVIÇOS</h1>

<section class="servicos_container">
  <div class="box">
    <img alt="mulheres trabalhando em projeto">
    <h3>Elaboração e Gestão de Contratos</h3>
    <p>Give a detailed description of the service being provided here</p>
  </div>
  <div class="box">
    <img alt="dois homens discutindo negócios">
    <h3>Digital strategy</h3>
    <p>Dfnreuasiojbghnrsiu fuohauof nff oiueasnf ouu</p>
  </div>
  <div class="box">
    <img alt="Aperto de mão">
    <h3>Design and Implementation</h3>
    <p> Give a deateihj aeuf ad eawfdae</p>
  </div>
