<header class="header_container">
  <img src="/images/logo.jpeg" alt="logo">
  <nav class="nav_container">
    <a class="nav_item" routerLink="sobre">Sobre Nós</a>
    <a class="nav_item" routerLink="nossosServicos">Nossos Serviços</a>
    <a class="nav_item">Nosso Blog</a>
    <a class="nav_item">Fale Conosco</a>
  </nav>
</header>
<div class="my-icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="21" viewBox="0 0 1438 21" fill="none">
    <path d="M-272.973 0L-333 21H1776L1674.25 0H-272.973Z" fill="url(#paint0_linear_12_48)"/>
    <defs>
      <linearGradient id="paint0_linear_12_48" x1="1776" y1="9.74584" x2="-333.734" y2="19.7495" gradientUnits="userSpaceOnUse">
        <stop stop-color="#FF6E06"/>
        <stop offset="0.195" stop-color="#E9BA46"/>
        <stop offset="0.33" stop-color="#FE9D15"/>
        <stop offset="0.535" stop-color="#E9BA46"/>
        <stop offset="0.725" stop-color="white"/>
        <stop offset="0.865" stop-color="#E9BA46"/>
        <stop offset="1" stop-color="#FF5106"/>
      </linearGradient>
    </defs>
  </svg>
</div>
