<section>
  <h1>Sobre nós</h1>
  <p>
    A CP Acessoria e Cobrança nasceu da necessidade de apoiar pequenos empresários,
    empresários individuais e autônomos que enfrentam desafios crescentes devido
    à inadimplência e à perda inesperada de clientes. Motivados por esta realidade,
    decidimos oferecer soluções que não apenas auxiliem na recuperação de crédito,
    mas que também fortaleçam a gestão financeira e comercial dessas empresas,
    proporcionando-lhes a estabilidade necessária para prosperar no mercado.
    <br><br>
    Nosso compromisso é ser um parceiro  de confiança para  nossos clientes, ajudando-os a alcançar estabilidade e sucesso em suas operações financeiras.</p>
</section>
